.navbar {
    background-color: #97DECE;
    height: 8vh;
  }
  .navbar > ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .navbar li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  
  }
  .navbar a {
      height: 100%;
      width: 100%;
      color: #439A97;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .navbar a:hover {
    background-color: #CBEDD5;
  }